* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    background-attachment: fixed;
}

.form-container {
    display: flex;
    height: 98vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form-container .formWrap {
    background: #fff;
    width: 40%;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
}

.form-container .formWrap h2 {
    text-align: center;
    margin: 0px 0px 20px;
    font-size: 19px;
}

.form-container .formWrap .form-box {
    margin: 0px 0px 15px;
}

.form-container .formWrap .form-box input[type="text"]{
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    border-bottom-width: 2px;
}

.form-container .formWrap .form-submit {
    display: flex;
    justify-content: center;
}


.form-container .formWrap .form-submit input[type="submit"] {
    padding: 4px 10px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    font-size: 16px;
}

.formWrap .titleResetPass::before {
content: '';
position: absolute;
left: 0;
bottom: 0;
height: 3px;
width: 30px;
background: linear-gradient(135deg, #c70039, #000000);
border-radius: 25px;
}