/* Fonts */

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
  
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

.body {
    position: relative;
    height: 100%;
    margin: 0;
    font-family: 'Ubuntu', Helvetica, Times, sans-serif;
    font-size: 16px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    background-attachment: fixed;
}

.profile-btn {
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 2%;
    text-align: center;
}

.profile-btn:hover{
    background: linear-gradient(135deg, #c70039, #000000);
}


.PageLayoutTitle {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.PageLayout {
    text-align: justify;
}

/* la partie sommaire du jeu en haut a gauche */

.navbar {
    position: absolute;
    left: 20px;
    top: 160px;
    width: 200px;
    padding: 20px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.80);
    color: #fff;
    z-index: 1;
}

.admin-navbar {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0;
    width: 200px;
    position: fixed;
    background-color: rgba(20, 20, 20, 1);
    color: #fff;
    z-index: 1;
}

.admin-navbar-title {
    padding: 20px;
}

.admin-navbar ul li {
    background-color: rgba(40, 40, 40, 1);;
    padding: 10px;
    border-bottom: rgb(25, 25, 25, 0.4) 1px solid;
}

.admin-navbar ul li a{
    text-decoration: none !important;
}


.navList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.navListItem {
    line-height: 1.5em;
}

.navListLink {
    color: #fff;
    text-decoration: underline;
}

.navListLink:visited {
    color: #fff;
}

.navListLink:hover {
    color: #fff;
    text-decoration: none;
}

.content {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    z-index: 0;
}

.content-admin {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    z-index: 0;
    margin-top: 2%;
}

/* Section exemple de philémon */

.section {
    width: 100%;
    padding: 0 20px 40px 280px;
    box-sizing: border-box;
}

.section.first {
    min-height: 100vh;
    background-image: url("../images/queencard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* Zone en colonne */

.section.trio {
    font-size: 0;
}

.trio-element {
    display: inline-block;
    width: 33.333333%;

    font-size: 16px;
    text-align: center;

    vertical-align: top;
}

.trio-image {
    margin-bottom: 10px;
}

/* Fin : Zone en colonne */

.centered {
    text-align:left;
}

p {
    margin: 10px;
}

.unitLogo {
    position: relative;
    width: 350px;
    margin: 80px auto;
    border-radius: 15px;
    text-align: center;
    box-sizing: border-box;
}

.logoPageUnit {
    height: 120px;
}

.logoPage {
    height: 400px;
}

.title {
    margin: 0 0 20px;
    font-size: 30px;
}

.big {
    color: tomato;
    font-size: 50px;
    font-style: italic;
}

/* Start Styles Images */



/* End Styles Images */


.cross {
    height: 220px;
    width: 220px;
    margin: 40px auto;
}

.TenWrapper {
    display: flex;
    justify-content: center;
    margin-top: 65px;
}


.crossRow {
    text-align: center;
    font-size: 0;
}

.crossRow:first-child {
    margin-bottom: 35px;
}

.crossRow:last-child {
    margin-top: 35px;
}

.crossLink {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;

    border: none;

    text-align: center;

    vertical-align: top;
}

.crossRow.threeLinks .crossLink:first-child {
    margin-right: 35px;

    text-align: left;
}

.crossRow.threeLinks .crossLink:last-child {
    margin-left: 35px;

    text-align: right;
}

.crossImage {
    display: inline-block;
    max-width: 50px;
    max-height: 50px;
}

/* la partie des explication du jeu */

img.king {
    width: 50px;
    height: 50px;
}

img.keen {
    width: 50px;
    height: 50px;
}

img.jack {
    width: 50px;
    height: 50px;
}


table {
    width: 100%;
    text-align: center;
}


.in-padding {
    padding: 15px;
}


/* .rule{

} */


/* Style de la page */

.page-regle {
    font-family: sans-serif;
    font-size: 16px
}

.page-regle h1 {
    color: #351c75;
    text-align: center;
}



.regle {
    margin: 0 0 20px;
    font-size: 42px;
    color: #351c75;
}

.navbar-page-regle {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 200px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.80);
    color: #fff;
}

.nav.page.regle {
    color: #fff
}

.navListItem.regle {
    padding: 0;
    margin: 0;
    list-style: none;
}

.cadre {
    border-radius: 10px;
    padding: 50px 40px;
    background-color: #f8f9fa;
    border: 1px solid black;
    margin: 50px;
    text-align: center;
}

/* page reglé du jeu */

.teteDeJeuUnit {
   display: flex;
}

.red {
    color: red;
    font-weight: bold;
}

.black {
    color: black;
    font-weight: bold;
}

.importantElement {
    font-weight: bold;
}

.comments {
    width: 60%;
    padding-left: 280px;
    margin-bottom: 25px;
}

.comments__container {
    background: #fff;
    padding: 25px 15px;
    margin: 15px 0;
    border-radius: 10px;
    color: #4070f4;
}

.comments__box--upload {
    text-align: end;
    color: #c2c2c2;
}

.comments__box--date {
    text-align: end;
    color: #c2c2c2;
    font-size: 12px;
}

.commentLink {
    padding: 5px 10px;
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
}

.comment-section-txtarea {
    width:100%;
    resize: none;
    background: none;
    border: none;
    color: #000000;
    border-bottom: 2px solid #ccc;
    transition: all 0.2s ease;
    padding: 5px
}

.edit-btn {
    margin-top: 2%;
    margin-right: 2%;
    width: 10%;
    padding: 7px 0;
    background: none;
    border: 1px solid #000000;
    color: #000000;
    cursor: pointer;
}

.hoverable-labels {
    cursor: pointer;
}

.hoverable-labels:hover {
    text-decoration: underline;
}

.profile-input-text {
    background: none;
    border: none;
    color: #000000;
    border-bottom: 2px solid #ccc;
    transition: all 0.2s ease;
    padding: 5px;
}

.profile-flex-children {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.activeComment {
    border: 1px solid #4d4d4d;
    color: #4d4d4d;
}

.admin_section {
    margin-bottom: 25px;
}

.admin_section > a {
    color: #000;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.admin_section > a:hover, .admin_section > a:active {
    color: #4d4d4d;
}

.a {
    color: #71b7e6;
    text-decoration: underline;
}
